body {
  background-color: hsl(30, 54%, 90%);
}

main {
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  max-width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
}

img {
  width: 500px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.header {
  font-size: 1.75rem;
  font-weight: 700px;
}
